@font-face {
    font-family: SVN-Gilroy-Bold;
    src: url('./../fonts/SVN-Gilroy-Bold.otf');
}
@font-face {
    font-family: SVN-Gilroy-Light;
    src: url('./../fonts/SVN-Gilroy-Light.otf');
}
@font-face {
    font-family: SVN-Gilroy-Medium;
    src: url('./../fonts/SVN-Gilroy-Medium.otf');
}

.content-center{
    align-items: center;
}
.row-s{
    margin-right: -10px;
    margin-left: -10px;
}
.col-s{
    padding-right: 10px;
    padding-left: 10px;
}