@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
}
  
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
@mixin text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
  
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
  @mixin sota-swp($bg) {
    &-bullet{
        outline: none;
        width: 27px;
        height: 27px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        $border: 2px;
        background: $bg;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
        border-radius: 50%;
        
        &::before{
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-color: #b3cbdf;
        }
    }
    &-bullet-active{
        // -webkit-box-shadow: inset 2px 0px 9px 0px rgba(34,159,204,1);
        // -moz-box-shadow: inset 2px 0px 9px 0px rgba(34,159,204,1);
        // box-shadow: inset 2px 0px 9px 0px rgba(34,159,204,1);
        $border: 2px;
        &::before{
            background-color: #b3cbdf;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -$border; /* !importanté */
            border-radius: inherit; /* !importanté */
            background: linear-gradient(to right, white, #229fcc);
          }
    }
}
  
  // MEDIA QUERY MANAGER
  /*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  $breakpoint arguement choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  ORDER: Base + typography > general layout + grid > page layout > components
  1em = 16px
  */
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}
